<app-title>Apps móviles</app-title>
<app-paragraph>
  El WebComponent de apertura de cuenta de Interbank también puede ser usado dentro de tus aplicaciones móviles a
  través de un <span class="bold">Web View</span>.
</app-paragraph>

<app-subtitle>Android</app-subtitle>
<app-paragraph>Para usar el WebComponent deberás seguir los siguientes pasos:</app-paragraph>
<app-code-block [code]="scriptAndroid"></app-code-block>

<app-subtitle>iOS</app-subtitle>
<app-paragraph>Para usar el WebComponent deberás seguir los siguientes pasos:</app-paragraph>
<app-code-block [code]="scriptIos"></app-code-block>
