:host {
  display: block;

  .button {
    background-color: #05be50;
    color: white;
    transition: 0.2s;
    outline: 0;
    border: none;
    border-radius: 4px;
    padding: 14px 0;
    width: 100%;
    font-size: 14px;
    font-family: Geometria-Regular, monospace;

    &:hover {
      cursor: pointer;
      background-color: #37cb73;
    }

    &:disabled {
      background-color: #D9DADB;
      cursor: default;
    }
  }
}
