<app-paragraph>El flujo de integración de Divídelo consta de 5 etapas:</app-paragraph>

<div class="steps">
  <div>
    <app-subtitle>1. Pasos previos</app-subtitle>
    <app-paragraph>Antes de empezar, como socio debes tener definido:</app-paragraph>
    <app-paragraph [noMargin]="true">- Nombre y apellido del encargado de la integración.</app-paragraph>
    <app-paragraph [noMargin]="true">- Correo corporativo del encargado de la integración.</app-paragraph>
    <app-paragraph [noMargin]="true">- Dominio de página productiva y pre-productiva(*) de tu empresa.</app-paragraph>
    <app-paragraph [opaque]="true">*Solo en caso de contar con una</app-paragraph>
  </div>
  <div>
    <app-subtitle>2. Primeros pasos</app-subtitle>
    <app-paragraph>Luego de contar con los datos ya definidos en la etapa previa, regístrate como socio aliado y solicita el equipo de Divídelo tus credenciales.</app-paragraph>
  </div>
  <div>
    <app-subtitle>3. Integración de componentes</app-subtitle>
    <app-paragraph>Seguir lineamientos de experiencia divídelo.</app-paragraph>
  </div>
  <div>
    <app-subtitle>4. Despegue a producción</app-subtitle>
    <app-paragraph>Estas muy cerca de terminar:</app-paragraph>
    <app-paragraph>
      - Por ultimo cambia el dominio de la librería de
      <span class="blue">https://web-qa.digital.interbank.pe</span> a <span class="blue">https://uicomponent.interbank.pe</span>.
    </app-paragraph>
  </div>
</div>
