.group {
  user-select: none;

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-family: Geometria-Bold, monospace;
    cursor: pointer;
    padding-left: 10px;
  }

  &__menu {
    border-width: 2px;
    border-style: solid;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left-color: #d6f1da;
    margin-left: 22px;

    &--item {
      font-family: Geometria-Regular, monospace;
      font-size: 14.4px;
      margin: 0 0 0 17px;
      padding: 7px 13px;
      cursor: pointer;

      &-active {
        background-color: #dbf5e5;
        border-radius: 5px;
      }
    }
  }
}
