<div class="steps">
  <div>
    <app-subtitle>Paso 1: Registro</app-subtitle>
    <app-expansion>
      <app-subtitle title [noMargin]="true">Registro de Aplicación</app-subtitle>
      <div content>
        <app-paragraph>
          Para usar las APIS de Interbank, deberás registrarte como comercio aliado con el equipo de soporte de
          Interbank. Una vez registrado te serán entregados los siguientes datos:
        </app-paragraph>
        <app-paragraph>
          <ul>
            <li>
              <span class="bold">SubscriptionKey:</span> Llave de suscripción que deberás usar como cabecera en todas las peticiones al <span class="bold">API de Interbank</span>.
            </li>
          </ul>
        </app-paragraph>
      </div>
    </app-expansion>
  </div>
  <div>
    <app-subtitle>Paso 2: Integra los componentes en tu web</app-subtitle>
    <app-paragraph>Para mas información dirigirse a la siguiente pestaña</app-paragraph>
  </div>
</div>
