:host {
  display: block;

  .input {
    margin: 0 0 16px;

    &__label {
      font-family: Geometria-Regular, monospace;
      display: inline-block;
      margin-right: 10px;
      min-width: 150px;
      margin-bottom: 5px;
    }

    &__color {}
  }
}
