<aside class="aside">
  <div class="aside__section">
    <h4 class="aside__section--title">General</h4>
    <h3
      class="aside__section--option"
      routerLink="/general/registro-socio"
      routerLinkActive="aside__section--option-active">
      Registro de socio
    </h3>
    <h3
      class="aside__section--option"
      routerLink="/general/configuracion-estilos"
      routerLinkActive="aside__section--option-active">
      Configuracion de estilos
    </h3>
  </div>
  <div class="aside__section">
    <h4 class="aside__section--title">Proyectos</h4>
    <div *ngFor="let item of data">
      <app-nav-group [data]="item"></app-nav-group>
    </div>
  </div>
</aside>
