<app-title>Recursos de experiencia</app-title>
<app-paragraph>
  La experiencia e integración de Divídelo Interbank, requiere de ciertos recursos para su construcción. De ese modo,
  se ofrece a los comercios involucrados los siguientes elementos de uso:
</app-paragraph>

<app-subtitle>Guía de experiencia Divídelo</app-subtitle>
<app-paragraph>
  En esta sección, compartimos el manual de integración y experiencia que describe:
</app-paragraph>
<app-paragraph [noMargin]="true">- Construcción del componente</app-paragraph>
<app-paragraph [noMargin]="true">- Posicionamiento de los componentes Divídelo</app-paragraph>
<app-paragraph [noMargin]="true">- Usos permitidos y denegados</app-paragraph>
<app-paragraph [noMargin]="true">- Capacidad de personalización</app-paragraph>
<br>
<app-link text="Ver Guía UX/UI" href="/assets/resources/dividelo/resources_ux_ui_guide.pdf" [download]="true"></app-link>

<app-subtitle>Toolkit de comunicación</app-subtitle>
<app-paragraph>
  Proporcionamos una guía de identidad comunicativa:
</app-paragraph>
<app-paragraph [noMargin]="true">- Tono de comunicación</app-paragraph>
<app-paragraph [noMargin]="true">- Atributos de propuesta</app-paragraph>
<app-paragraph [noMargin]="true">- Mensajes aprobados y ejemplos de comunicación</app-paragraph>
<br>
<app-link text="Ver toolkit" href="/assets/resources/dividelo/resources_toolkit.pdf" [download]="true"></app-link>

<div class="identity">
  <app-subtitle>Identidad y marca Divídelo</app-subtitle>
  <div class="identity__columns">
    <div class="identity__columns--text">
      <app-paragraph [noMargin]="true">
        Para asegurar la pertinencia del producto, se proporciona el logo Divídelos en todas sus versiones así como una
        guía de uso y aplicación de la marca.
      </app-paragraph>
      <app-paragraph>
        Además, también se podrán encontrar las tipografías de la marca Interbank (queda a elección del comercio usarlas).
      </app-paragraph>
    </div>
    <div class="identity__columns--links">
      <app-link
        text="Logo Divídelo Interbank (PNG y JPG)"
        href="/assets/resources/dividelo/resources_logos.zip"
        [download]="true">
      </app-link>
      <app-link
        text="Editable logo Divídelo Interbank"
        href="/assets/resources/dividelo/resources_editable.ai"
        [download]="true">
      </app-link>
      <app-link
        text="Tipografías Divídelo Interbank"
        href="/assets/resources/dividelo/resources_typography.zip"
        [download]="true">
      </app-link>
      <app-link
        text="Ver guía de Identidad de marca"
        href="/assets/resources/dividelo/resources_ux_ui_guide.pdf"
        [download]="true">
      </app-link>
    </div>
  </div>
</div>

<div class="editables">
  <app-subtitle>Componentes editables Divídelo</app-subtitle>
  <div class="editables__columns">
    <div class="editables__columns--text">
      <app-paragraph>
        Compartimos los archivos editables de los tres componentes que tiene la experiencia Divídelo para el correcto
        posicionamiento.
      </app-paragraph>
    </div>
    <div class="editables__columns--files">
      <app-paragraph>Archivos editables Interbank Divídelo:</app-paragraph>
      <div class="links">
        <div class="links__sketch">
          <app-link text="Sketch" href="/assets/resources/dividelo/resources_editable.sketch" [download]="true"></app-link>
          <img src="assets/images/dividelo/resources/sketch.svg" alt="sketch">
        </div>
        <div class="links__ilustrator">
          <app-link text="Sketch" href="/assets/resources/dividelo/resources_editable.ai" [download]="true"></app-link>
          <img src="assets/images/dividelo/resources/ai.svg" alt="ai">
        </div>
        <div class="links__figma">
          <app-link text="Sketch" href="/assets/resources/dividelo/resources_editable.fig" [download]="true"></app-link>
          <img src="assets/images/dividelo/resources/figma.svg" alt="figma">
        </div>
      </div>
    </div>
  </div>
</div>

<app-banner
  routerLink="/dividelo/sandbox"
  image="assets/icons/pcguy_icon.svg"
  title="Prueba tu integración en nuestro Sandbox"
  description="Tenemos un sandbox para que pruebes tus credenciales y los componentes Divídelo de una manera sencilla
   y al instante. Pruébalo.">
</app-banner>
