.subtitle {
  font-family: Geometria-Medium, monospace;
  font-size: 19px;

  &__no-margin {
    margin: 0;
  }

  &__no-margin-bottom {
    margin-bottom: 0;
  }

  &__second-level {
    font-size: 16px;
  }

  &__opaque {
    color: gray;
  }
}
