@font-face {
  font-family: "Geometria-Regular";
  src: url(assets/fonts/Geometria.ttf);
}

@font-face {
  font-family: "Geometria-Bold";
  src: url(assets/fonts/Geometria-Bold.ttf);
}

@font-face {
  font-family: "Geometria-Medium";
  src: url(assets/fonts/Geometria-Medium.ttf);
}

body {
  margin: 0;
  box-sizing: border-box;
}

* {
  box-sizing: content-box!important;
}

pre {
  font-size: 16px!important;
}

.column {
  display: flex;
  align-items: center;
  justify-content: stretch;
}

.column__img {
  width: 50%;
  max-width: 480px;
}

.column__text {
  flex-grow: 1;
  border-radius: 0 10px 10px 0;
  padding: 35px 80px 35px 40px;
}

